.recetario h1 {
  display: block;
}


.recetario {
  padding: 20px;
  margin: 30px auto;
  max-width: 350px;
  background-color: #f5f5f5;
  border: 1px solid #fff;
  border-radius: 10px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
